@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --color-primary: rgba(91,  26, 18, 1);
    --color-secondary: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000;
}

a {
    color: #000;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Box */
.box {
    margin-bottom: 30px;
}

.box-text {
    max-width: 500px;
    justify-self: center;
    padding: 20px 0;
    margin: 0 auto;
}

/* Grid Styles */
.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.grid-reversed :first-child {
    order: 2;
}

/* Text Styling */
.text-xl {
    font-size: 50px;
    font-weight: 600px;
    margin-bottom: 20px;
}

.text-lg {
    font-size: 40px;
    margin-bottom: 20px;
}

.text-md {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-sm {
    font-size: 19px;
    margin-bottom: 20px;
}

/* Padding */
.py-lg {
    padding: 40px 0;
}

.py-md {
    padding: 20px 0;
}

.py-sm {
    padding: 10px 0;
}

/* Buttons */
.btn {
    cursor: pointer;
    display: inline-block;
    
}

/* Navbar */
.navbar {
    width: 100%;
    height: auto;
    background-color: rgba(91,  26, 18, 1);
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
    0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);

}

.navbar-brand img {
    width: 75px;
    height: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}